<div class="banner">
	<div class="main-container">
		<img
			class="banner-img"
			src="[resources:bannerImage.png]"
			alt="Banner Image"
			data-lfr-editable-id="banner-image"
			data-lfr-editable-type="image"
		/>

		<div class="container">
			<div class="text-container poppins-extrabold">
				<p
					class="text-title"
					data-lfr-editable-id="banner-title"
					data-lfr-editable-type="text"
				>
					Ignek Intranet
				</p>

				<p
					class="text-description"
					data-lfr-editable-id="banner-description"
					data-lfr-editable-type="text"
				>
					Let's grow together
				</p>
			</div>
		</div>
	</div>
</div>
