.custom-login-container {
    background-color: #f0f1f1;
    min-height: 100vh;
    padding: 3rem 0;

    .login-display {
      height: 95vh;
    }
    .login-form-container {
      padding: 0px 28px;
      background-color: #ffffff;
      width: 450px;
      border-radius: 20px;
      box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.1);
    }
    .line {
      border: 5px solid #00979e;
      margin-right: 10px;
    }
    .site-name {
      text-transform: uppercase;
      font-size: 30px;
      padding-top: 2.5rem;
      padding-left: 1rem;
    }
    .signIn-heading-container {
      margin-top: 1.5rem;
    }
    .signIn-txt {
      font-size: 22px;
    }
    .signIn-description-txt {
      font-size: 14px;
      color: #6c6c6c;
    }
    .signIn-form-container {
      padding-top: 2rem;
    }
    .signIn-form-container .panel-body {
      padding: 0;
    }
    .input-label-txt {
      color: #6c6c6c;
      font-size: 14px;
    }
    .input-box {
      height: 44px;
      border: 1px solid #e5e5e5;
    }
    .input-box::placeholder {
      color: #cdcdcd;
    }
    .signIn-btn {
      margin-top: 1.3rem;
      background-color: #00979e;
      color: #ffffff;
      border-radius: 4px;
      border: none;
      height: 44px;
      transition: background-color 0.3s ease, transform 0.2s ease-in-out;
    }
    .signIn-btn:hover {
      cursor: pointer;
      background-color: #007a80;
    }
    .forgot-pass-txt {
      margin: 1.5rem 0;
    }
    .reset-pass-link {
      padding-left: 5px;
    }
    .reset-pass-link a {
      color: #00979e !important;
      text-decoration: underline;
    }
    .reset-pass-link a:hover {
      color: #007a80 !important;
    }
}
#content.container.flex-fill {
    background-color: #f0f1f1;
    margin: 0 !important;
    max-width: none;
}
#column-1 {
    padding: 0 !important;
}
